<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="cn" connectionString="Data Source = DESKTOP-V7TJV0U; Initial Catalog = newSGBD ; Integrated Security = True" />
  </connectionStrings>
  <appSettings>
    <add key="select_dist" value="select * from distribuitori" />
    <add key="select_fact" value="select * from factura" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ParentTableName" value="distribuitori"/>
    <add key="ChildTableName" value="factura"/>
    <add key="ChildNumberOfColumns" value="4"/>
    
    <add key="ChildColumnNames" value="Pret,Data,IdPiesa,IdDistribuitor"/>
    <add key="ChildColumnNamesId" value="Id,Pret,Data,IdPiesa,IdDistribuitor"/>
    <add key="ColumnNamesInsertParameters" value =" @Pret, @Data, @IdPiesa, @IdDistribuitor"/>
    <add key ="UpdateQuery" value="update Factura set Pret =@Pret ,Data = @Data, IdPiesa =@IdPiesa where Id =@id"/>
    <add key ="InsertQuery" value="insert into Factura (Pret,Data,IdPiesa,IdDistribuitor) Values( @Pret, @Data, @IdPiesa, @IdDistribuitor)"/>
    <add key="ChildColumnNamesJustId" value="Id"/>
    <add key ="DeleteQuery" value="delete from Factura where id =@id "/>

    <add key="ParentColumnNamesJustId" value="Id"/>
    <add key="ParentColumnNames" value="Adresa,Localitatea,TimpLivrare"/>
    <add key="ParentColumnNamesId" value="Id,Adresa,Localitatea,TimpLivrare"/>
    <add key="PAentColumnNamesInsertParameters" value ="@Adresa,@Localitatea,@TimpLivrare"/>
    <add key ="PArentUpdateQuery" value="update distribuitori set Adresa =@Adresa ,Localitatea = @Localitatea, TimpLivrare =@TimpLivrare where Id =@id"/>
    <add key ="ParentInsertQuery" value="insert into distribuitori (Adresa,Localitatea,TimpLivrare) Values(@Adresa,@Localitatea,@TimpLivrare)"/>
    <add key= "ParentChildColumnNamesJustId" value="Id"/>
    <add key ="ParentDeleteQuery" value="delete from distribuitori where id =@id "/>


  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>